<ion-header collapse="condense" class="ion-no-border">
  <ion-toolbar>
    <ion-back-button [disabled]="this.nombreControl.invalid" slot="start" color="dark" (click)="onBack()"></ion-back-button>
    <ion-button slot="end" fill="clear" color="dark" (click)="onDelete()">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="dark" (click)="createTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-header>
    <ion-title size="large">
      <div class="title">
        <ion-icon name="list"></ion-icon>
        <ion-input [formControl]="this.nombreControl" type="text" placeholder="Titulo de la lista..." errorText="El nombre es requerido"></ion-input>
      </div>
    </ion-title>
  </ion-header>
  <div class="mainTaskList">
    <app-task-list [mainTaskList]="this.taskList"></app-task-list>
  </div>
</ion-content>
