<ion-header collapse="condense" class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" color="dark" (click)="onBack()"></ion-back-button>
    @if (this.note.titulo !== ''){
      <ion-button slot="end" fill="clear" color="dark" (click)="onDelete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    }
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container ion-padding">
    <div class="titleNote">
      <ion-textarea [formControl]="this.tituloControl" [autoGrow]="true" placeholder="Titulo de la nota..."></ion-textarea>
    </div>
    <div class="bodyNote">
      <ion-textarea [formControl]="this.contenidoControl" [autoGrow]="true" placeholder="Escribe algo aqui..."></ion-textarea>
    </div>
  </div>
</ion-content>
