<ion-header collapse="condense" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button strong="true" color="dark" (click)="cancel()">Volver</ion-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="this.tituloControl.getRawValue() === this.data.titulo && this.descripcionControol.getRawValue() === this.data.descripcion" (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-input placeholder="Introduce el título de la tarea" errorText="El título es requerido" [formControl]="this.tituloControl"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea label="Descripción" labelPlacement="floating" [formControl]="this.descripcionControol" [autoGrow]="true" placeholder="Escribe algo aqui..."></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
