<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <ion-input type="text" fill="solid" label="Usuario" labelPlacement="floating"
                helperText="Introduce tu usuario" errorText="Usuario requerido" [formControl]="usernameControl"
                required="true" clearInput="true"></ion-input>
              <ion-input type="email" fill="solid" label="Email" labelPlacement="floating"
                helperText="Introduce tu email" errorText="Introduce un email valido" [formControl]="emailControl"
                email clearInput="true"></ion-input>
              <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating"
                helperText="Introduce tu contraseña" errorText="Contraseña requerida" [formControl]="passwordControl"
                required="true">
              </ion-input>
                <div class="ion-text-center">
                  <ion-button [disabled]="registerForm.invalid" class="ion-margin-top ion-padding-top" type="submit">Registrarse</ion-button>
                </div>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
