<ion-content class="ion-padding">
  <div class="container">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <img src="../../../assets/logo/logo.png" alt="app logo">
        <ion-card-subtitle class="ion-margin-top">Register</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-input type="text" fill="solid" label="Usuario" labelPlacement="floating" helperText="Introduce tu usuario"
            errorText="Usuario requerido" [formControl]="usernameControl" required="true" clearInput="true"></ion-input>
          <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Introduce tu email"
            errorText="Introduce un email valido" [formControl]="emailControl" email clearInput="true"></ion-input>
          <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating"
            helperText="Introduce tu contraseña" errorText="Contraseña requerida" [formControl]="passwordControl"
            required="true">
          </ion-input>
          <div class="ion-text-center">
            <ion-button [disabled]="registerForm.invalid" class="ion-margin-top ion-padding-top"
              type="submit">Register</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <p>Do you have an account? <a href="auth/login" >Login</a></p>
  </div>
</ion-content>
