<ion-header collapse="condense" class="ion-no-border">
  <ion-toolbar class="ion-padding-top">
    <ion-title size="large"> Calendario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="dark" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-datetime color="danger" presentation="date">
        </ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title size="large">Hoy:</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
