<div class="mainTaskList ion-padding-end">
  @if(this.mainTaskList().tareas?.length){
  <ion-list>
    @for (task of this.mainTaskList()!.tareas; track task._id) {
    <ion-item-sliding>
      <!-- @if (!task.completed){ -->
      <ion-item>
        <ion-checkbox (ionChange)="onClick(task, $event)" [checked]="task.completed" labelPlacement="end"
          justify="start">
          <ion-label>
            {{task.titulo}}
          </ion-label>
          @if (task.descripcion){
          <ion-label>
            {{task.descripcion}}
          </ion-label>
          }
        </ion-checkbox>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="onDelete(task)">Eliminar</ion-item-option>
      </ion-item-options>
      <!-- } -->
    </ion-item-sliding>
    }
  </ion-list>
  }@else {
  <ion-label>No tienes tareas pendientes</ion-label>
  }
</div>
